.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right > .fighter-preview___img {
    transform: scaleX(-1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview-name {
    margin: 0;
    color: black;
    -webkit-text-stroke-width: 1px;
    background: -webkit-linear-gradient(#eaf037, #e80000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Arial Black';
    font-weight: 700;
}

.fighter-preview___root > .fighter-preview___img {
    max-height: 280px;
}

.fighter-preview-info {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 1em;
    font-family: 'Arial Black';
    font-weight: 500;
}
